.container {
    display: flex;
}

.width15 {
    width: 15%;
}

.width25 {
    width: 25%;
}

.width50 {
    width: 50%;
}

.width60 {
    width: 60%;
}

.width75 {
    width: 75%;
}

.width85 {
    width: 85%;
}

.marginBottom {
    margin-bottom: 12px;
}

.noMarginBottom {
    margin-bottom: 0;
}

.noMargin {
    margin: 0;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.bold {
    font-weight: bold;
}

pre.pre {
    width: 100%;
    word-break: break-all;
    white-space: pre-wrap;
}
