.container {
    display: flex;
}

.width15 {
    width: 15%;
}

.width50 {
    width: 50%;
}

.width85 {
    width: 85%;
}

.noMarginBottom {
    margin-bottom: 0;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.bold {
    font-weight: bold;
}
