select.select {
    padding: 5px 10px;
    border-color: var(--color-border-input);
    border-radius: 3px;
    background-color: var(--color-bg);
    color: var(--color-text);
}
select.select:active,
select.select:focus {
    border-color: var(--color-border-input-focus);
}
