pre.pre {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    padding: 0;
    margin: 0;
    max-height: 250px;
    overflow-y: auto;
}

pre.inline {
    display: inline-block;
}
